.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    height: 100vh;
    text-decoration: none;
}

.Title {
    position: absolute;
    top: 1.25rem;
    font-size: 5rem;
    text-shadow: 0.3125rem 0.3125rem 0.1875rem gray;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    padding: 0.625rem;
    position: absolute;
    top: 12.5rem; left: 75%;
    width: 20%; height: 65%;
    background-color: white;
    border-radius: 1rem 0.5rem 0.5rem 1rem;
    border: 0.1875rem solid gray;
    box-shadow: 0 0 5px gray;
    overflow-y: auto;
    margin-left: 1rem;
}

/* 스크롤바 스타일링 */
.List::-webkit-scrollbar {
    width: 0.5vw; /* 스크롤바 너비 */
}

.List::-webkit-scrollbar-track {
    background: transparent; /* 스크롤바 배경 */
    border-radius: 0.5rem; /* 둥근 배경 */
}

.List::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 42%, 0.29); /* 스크롤바 손잡이 색상 */
    opacity: 50%;
    border-radius: 0.5rem; /* 손잡이를 둥글게 */
}

.List::-webkit-scrollbar-thumb:hover {
    background: #555; /* 손잡이 hover 효과 */
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.0625rem solid gray;
    margin-left: 0.3125rem; margin-right: 0.3125rem
}

