.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    height: 100vh;
    text-decoration: none;
}

.Title {
    position: absolute;
    top: 20px;
    font-size: 5rem;
    text-shadow: 5px 5px 3px gray;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    position: absolute;
    top: 200px; left: 75%;
    width: 20%; height: 65%;
    background-color: white;
    border-radius: 1rem 0.5rem 0.5rem 1rem;
    border: 3px solid gray;
    box-shadow: 0px 0px 5px gray;
    overflow-y: auto;
    margin-left: 16px;
}

/* 스크롤바 스타일링 */
.List::-webkit-scrollbar {
    width: 0.5vw; /* 스크롤바 너비 */
}

.List::-webkit-scrollbar-track {
    background: transparent; /* 스크롤바 배경 */
    border-radius: 0.5rem; /* 둥근 배경 */
}

.List::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 42%, 0.29); /* 스크롤바 손잡이 색상 */
    opacity: 50%;
    border-radius: 0.5rem; /* 손잡이를 둥글게 */
}

.List::-webkit-scrollbar-thumb:hover {
    background: #555; /* 손잡이 hover 효과 */
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    margin-left: 5px; margin-right: 5px;
}

